body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(25, 25, 25);
    height: 100%;
    padding: 0;
}

/* Top bar styles */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    height: 40px;
    color: white;
    font-size: 14px;
}

.top-bar .nav-links a {
    color: white;
    background: none;
    filter: none;
    text-decoration: none;
    margin-left: 9px;
    transition: color 0.1s ease;
    font-size: 18px;
}

.top-bar .nav-links a:hover {
    color: rgb(69, 155, 207);
}

/* Title Background styles */
.title-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    position: relative;
}

.title-background .title {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 24px;
    background-color: rgb(25, 25, 25);
    height: 50%;
    width: 200px;
}

/* Content styles */
.content .container h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.content .container p {
    text-align: left;
}

.content .container ul {
    margin: 0 0 20px 0;
}

.content .container a {
    color: rgb(69, 155, 207);
}

.content .container .image {
    width: 50%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(rgb(24, 23, 21), rgb(34, 32, 30));
    padding: 36px 25%;
    gap: 16px;
}

@media (max-width: 800px) {
    .content {
        padding: 36px 10%;
    }
}