body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 40px 0px 0px 0px;
    background-color: #9c9a97;
}

/* Style for the navigation bar */
.navbar {
    background: linear-gradient(to bottom, #141517, #0A0D10);
    background-color: #141517;
    border-width: 5px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar a {
    color: #459BCF;
    margin: 10px;
    text-decoration: none;
}
.navbar a:hover {
    color: #D98410;
    transition: color 0.2s ease;
}

/* Style for the content divider */
.contentDivider {
    background: linear-gradient(to bottom, #0A0D10, #141517);
    background-color: #141517;
    border-width: 5px;
    padding: 10px;
    width: 100%;
}

/* Style for the header */
.title {
    padding: 10px;
    background-color: #DBE2E9;
    background: linear-gradient(to bottom, #DBE2E9, #b0b6bc);
    text-align: center;
    width: 30%;
    min-width: 300px;
}
.title h1 {
    font-size: 40px;
    color: #202933;
    text-align: center;
    font-weight: bold;
}
.title p {
    font-size: 18px;
    text-align: center;
}

.titleBackground {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Style for social media buttons */
.socialButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.socialButtons a {
    text-decoration: none;
}
.socialButtons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.socialButtons button:hover i {
    color: #D98410;
    transition: color 0.2s ease;
}
.socialButtons i {
    width: 20px;
    height: 20px;
    color: #202933;
    font-size: 20px;
}

/* Style for the big divider */
.filler {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: #9c9a97;
    background: linear-gradient(to bottom, #9c9a97, #8c8985);

}
.textBox {
    width: 100%;
    max-width: 800px;
    height: fit-content;
    padding: 40px;
    background: linear-gradient(to bottom, #DBE2E9, #b0b6bc);
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-color: #141517;
    border-width: 10px;
    border-style: solid;
}
.textBox h2 {
    color: #202933;
    font-size: bold;
}
.headshot {
    width: 300px;
    height: 300px;
    border-color: #141517;
    border-width: 10px;
    border-style: solid;
}
/* Media query for small screens */
@media (max-width: 800px) {
    .filler {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}