<div class="navbar" id="navbar">
    <div class="navbar-visible" id="navbarVisible">
        <a href="index.html" class="navbar-button">Home</a>
        <a href="projects.html" class="navbar-button">Projects</a>
        <a href="publications.html" class="navbar-button">Publications</a>
    </div>

    <div class="navbar-overflow">
        <button class="navbar-button hamburger" id="hamburger" aria-label="Menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="navbar-hidden" id="navbarHidden"></div>
    </div>
</div>