body {
    background-color: var(--bg-color);
    color: var(--text-dark);
    background-image: url('../../img/graphics/background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: var(--padding);
    margin: 0;
    font-size: var(--font-size);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text selection styling */
::selection {
    background: var(--selection-color);
    color: var(--text-light);
}

::-moz-selection {
    background: var(--selection-color);
    color: var(--text-light);
}

body a {
    color: var(--text-dark);
    text-decoration: underline dotted;
}

body a:hover {
    color: var(--highlight);
    text-decoration: none;
    transition: var(--transition);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--text-dark);
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.divider {
    width: 100%;
    height: var(--divider-size);
    background-color: var(--page-divider-color);
}

/* Header */
.header {
    color: var(--page-bg-color);
    text-shadow: -1px -1px 0 var(--outline), 1px -1px 0 var(--outline), -1px 1px 0 var(--outline), 1px 1px 0 var(--outline);
    width: 100%;
    height: calc(100vh - var(--button-height) - var(--padding));
    min-height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Animate only the contents */
.header > * {
    opacity: 0;
    animation: fadeInMove 1.5s ease-in-out forwards;
}

@keyframes fadeInMove {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header a {
    color: var(--text);
    transition: var(--transition);
}

.header h1 {
    font-family: var(--header-font);
    margin: 0;
    color: var(--text-light);
}

.socials {
    letter-spacing: var(--divider-size);
}

/* Content */
.page {
    width: 100%;
    max-width: var(--page-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center; 
}

.page .text {
    padding: var(--padding);
    max-width: var(--text-width);
    width: calc(100% - var(--margin));
    line-height: var(--line-height);
}

.content {
    background-color: var(--page-bg-color);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center; 

}

/* Navbar */
[data-component="src/components/navbar.html"] {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: flex-start;
    height: var(--button-height);
    width: 100%;
    max-width: var(--page-width);
    background: var(--header-bg-color);
}

.navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding);
    text-decoration: none;
    background: transparent;
    color: var(--text-light);
    font-weight: bold;
    border: none;
    cursor: pointer;    
    height: 100%;
}

.navbar-button:hover {
    color: var(--highlight);
    background-color: var(--header-bg-color);
}

.selected {
    background-color: var(--page-bg-color);
    color: var(--text-dark);
}

.selected:hover {
    background-color: var(--page-bg-color);
}

/* Containers */
.navbar-visible {
    display: flex;
    height: 100%;
}

/* Overflow container */
.navbar-overflow {
    margin-left: auto;
    display: flex;
    height: 100%;
}

/* Hamburger button */
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
    font-size: var(--header-font);
    width: var(--button-height);
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
}

/* Hidden dropdown */
.navbar-hidden {
    display: none;
    position: absolute;
    right: var(--padding);
    top: 100%;
    background: var(--page-bg-color);
    z-index: 10;
    flex-direction: column;
    background-color: var(--page-bg-color) !important;
}

/* Make buttons vertical inside dropdown */
.navbar-hidden .navbar-button {
    justify-content: center;
    height: var(--button-height);
    color: var(--text-dark);
    background-color: transparent !important;
    border: var(--divider-size) solid var(--page-divider-color);
    box-sizing: border-box;
    margin-top: calc(var(--divider-size) * -1);
}

.navbar-hidden .navbar-button:first-child {
    margin-top: 0;
}

.navbar-hidden .navbar-button:hover {
    color: var(--highlight);
}

/* Show dropdown */
.navbar-hidden.show {
    display: flex;
}

/* Footer */
.footer {
    margin-top: var(--margin);
    color: var(--text-light);
    text-align: center;
}

.footer a {
    color: var(--text-light);
}

/* Video */
.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Contact form */
input, textarea {
    width: 100%;
    padding: 0 0 var(--font-size) 0;
    border: none;
    border-bottom: var(--divider-size) solid var(--page-divider-color);
    background: transparent;
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--text-dark);
    outline: none;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    resize: none;
    transition: 0.1s ease;
}

input:focus, textarea:focus {
    border-bottom: var(--divider-size) solid var(--highlight);

}

input, textarea, .divider, button {
    margin-top: var(--padding);
}

input:first-child, .divider:first-child {
    margin-top: 0;
}

/* Button */
button {
    height: var(--button-height);
    padding: 0 var(--padding);
    background-color: var(--page-bg-color);
    color: var(--text-dark);
    border: var(--divider-size) solid var(--page-divider-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease;
    box-sizing: border-box;
}

button:hover {
    color: var(--highlight);
}